#disclaimer {
    text-align: center;
    position: relative;
    bottom: 1px;
}
.title {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}