<div class="color-container">
    <div class="main-color" style="background-color: {{color.color}};">
        <div class="polaroid-inner">
            <div class="polaroid"  style="color: {{color.color}};">
                <div class="sec-color" style="background-color: {{color.color}};"></div>
                <div class="pantone">PANTONE<span class="reg">&reg;</span></div>
                <div class="details">{{color.pantone_value}}</div>
                <div class="details">{{color.name}}</div>
                <div class="details">{{color.color}}</div>
            </div>
            <div class="polaroid-back">
                <div class="details-back">ID-Pantone&reg;: <div class="details">{{color.pantone_value}}</div></div>
                <div class="details-back">Nome: <div class="details">{{color.name}}</div></div>
                <div class="details-back">Valore Esadecimale: <div class="details">{{color.color}}</div></div>
                <div class="details-back">Anno: <div class="details">{{color.year}}</div></div>
                <div class="details-back">Data caricamento: <div class="details">{{color.loaded}}</div></div>
                <button (click)="editColor()">Modifica Colore</button>
            </div>
        </div>
    </div>
</div>
