@import "src/mixins";

.header-title {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 15px;
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    @include lt-lg {
      font-size: 3rem;
    }

    @include lt-sm {
      font-size: 2rem;
    }
}
